*{
	padding: 0;
	margin: 0;
}

.maindiv{
	background: url(../images/dm3.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.navbar{
	position: fixed;
	height: 0px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}

.logo{
	width: 140px;
	height: auto;
	padding: 20px 80px;
}

ul{
	float: right;
	margin-right: 20px;
}

ul li{
	/* list-style: none; */
	margin: 8px;
	display: inline-block;
	line-height: 80px;
}

ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
	background: green;
	border-radius: 2px;
}

.maindiv .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
	font-family: myFirstFont;

	width: 890px;
	font-weight: bold;
	text-align: center;
}

h5{
	color: white;
	font-size:15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 900px;
	font-weight: bold;
	text-align: center;
}


.center .buttons{
	margin: 35px 280px;
}
 button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	background: black;
	outline: none;
	cursor: pointer;
	border: 2px solid pink;
	border-radius: 25px;
	transition: .4s;
	color: white;
}

.buttons .btn2{
	margin-left: 25px;
}

.buttons button:hover{
	background: silver;
}

footer{
    position: absolute;
    bottom: 0;
    font-family: "Open Sans";
    /* padding-top: 40px; */
    color: #fff;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

@font-face 
{font-family:myFirstFont;src: url(Bullpen3D.ttf);}

.font{font-family:myFirstFont;}
